<html>

<head>
  <title>Contoh Pembobotan TF-IDF</title>
</head>

<body>
  <div id="app">
    <div>
      <div>
        <p>Cari Resep Disini</p>
        <p>
          <input v-model="newBahan">
          <button @click="tambahBahan">tambah</button>
        </p>


        <div v-if="query.length">
          <ol v-for="(item, index) in query">
            <li>{{ item }}
              <button @click="hapusBahan(index)">X</button>
            </li>
          </ol>
          <button @click="cariResep1">Cari Resep</button>
        </div>
      </div>
    </div>

    <div id="jawaban">
      <p id="showSoal">
        {{ testSoal }}
      </p>
      <p id="showJawaban">
        {{ testJawaban }}
      </p>
    </div>
  </div>

  <script src="vue.js"></script>
  <script src="./rumusCari.js"></script>

</body>

</html>