<html>

<head>
  <title>Contoh Pembobotan TF-IDF</title>

  <script src="vue.js"></script>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div id="app">
    <div id="switch">
      <h3>Switch Tampilan</h3>
      <p>Tambah Resep :
        <button @click="() => { lihatTambahResep = !lihatTambahResep }">{{ tombolShow(lihatTambahResep) }}</button>
      </p>
      <p>Cari Resep :
        <button @click="() => { lihatCariResep = !lihatCariResep }">{{ tombolShow(lihatCariResep) }}</button>
      </p>
      <p>List Resep :
        <button @click="() => { lihatListResep = !lihatListResep }">{{ tombolShow(lihatListResep) }}</button>
      </p>
    </div>

    <div id="tambahResep" v-if="lihatTambahResep">
      <header>
        <h1>Tambah Resep Masakan</h1>
      </header>
      <section>
        <p>Nama Resep :
          <input type="text" v-model="namaResep" required>
        </p>
        <p>Description:
          <textarea v-model="descResep" required>

          </textarea>
        </p>
        <p>Tingkat Kesulitan:
          <select v-model="kesulitanResep">
            <option disabled value="">Pilih Salah Satu</option>
            <option value="1">mudah</option>
            <option value="2">sedang</option>
            <option value="3">Susah</option>
          </select>
        </p>
        <p>Lama Memasak (menit):
          <input type="number" v-model="lamaResep" required>
        </p>

        <div>
          <p>Bahan - Bahan:
            <button @click="tambahBahan">+</button>
            <button @click="kurangiBahan" v-if="bahanResep.length">-</button>
          </p>
          <table border="2" v-if="bahanResep.length">
            <thead>
              <tr>
                <th>No</th>
                <th>Nama</th>
                <th>Jumlah</th>
              </tr>

            </thead>
            <tbody v-for="(jenisBahan, index) in bahanResep">
              <tr>
                <th>{{ index + 1 }}</th>
                <th>
                  <input v-model="jenisBahan.nama">
                </th>
                <th>
                  <input v-model="jenisBahan.banyak">
                </th>
              </tr>
            </tbody>
          </table>
        </div>

        <div>
          <p>Langkah Memasak:
            <button @click="tambahLangkah">+</button>
            <button @click="kurangiLangkah" v-if="langkahResep.length">-</button>
          </p>
          <table border="2" v-if="langkahResep.length">
            <thead>
              <tr>
                <th>No</th>
                <th>Keterangan</th>
              </tr>

            </thead>
            <tbody v-for="(langkah, index) in langkahResep">
              <tr>
                <th>{{ index + 1 }}</th>
                <th>
                  <input v-model="langkah.nama">
                </th>
              </tr>
            </tbody>
          </table>
        </div>

        <button @click="tambahResep">Submit Resep Baru</button>

      </section>
    </div>
    <div id="cariResep" v-if="lihatCariResep">
      <h3>Cari Resep</h3>
      <div id="berdasarkanBahan">
        <h4>Berdasarkan Bahan yang kamu miliki:
        </h4>
        <div id="formBahan">
          <input placeholder="masukan bahan" v-model="newBahan">
          <button @click="masukanBahan">Masukan</button>
        </div>

        <div v-if="queryBahan.length">
          <ol>
            <li v-for="(bahan, index) in queryBahan">{{ bahan }}
              <button @click="hapusBahan(index)">X</button>
            </li>
          </ol>
          <button @click="cariResepBahan">Cari Resep</button>
        </div>


      </div>
    </div>

    <div id="hasilCariResep" v-if="isJawaban">
      <h3>Hasil Pencarian:</h3>
      <div v-if="hasilQueryBahan.length">
        <div v-for="(resep, index) in hasilQueryBahan">
          <div class="resep">
            <header>
              <i>Total Bahan Sesuai:
                <p>{{ resep.count }}</p>
              </i>
              <h3> {{ resep.namaResep }}</h3>
              <i>
                Keterangan: {{ resep.descResep }}
              </i>
              <p>
                tingkat Kesulitan: {{ resep.kesulitanResep }}
              </p>
              <p>
                Lama Memasak: {{ resep.lamaResep }} menit
              </p>
              <button @click="lihatResep(index)">{{tombolShow(resep.showResep)}}</button>
            </header>
            <div v-if="resep.showResep">
              <div>
                <p>Bahan - Bahan:</p>
                <ul>
                  <li v-for="bahan in resep.bahanResep">{{ bahan.nama }} {{ bahan.banyak }}</li>
                </ul>
              </div>
              <div>
                <p>Langkah - Langkah:</p>
                <ol>
                  <li v-for="langkah in resep.langkahResep">{{ langkah.nama }}</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div v-else>
        0 resep yang sesuai dengan bahan yang tersedia.
      </div>
    </div>

    <div id="listResep" v-if="lihatListResep">
      <h2>List Resep Makanan</h2>
      <div v-for="(resep, index) in storeResep" v-if="storeResep.length">
        <div class="resep">
          <header>
            <h3> {{ resep.namaResep }}</h3>
            <i>
              Keterangan: {{ resep.descResep }}
            </i>
            <p>
              tingkat Kesulitan: {{ resep.kesulitanResep }}
            </p>
            <p>
              Lama Memasak: {{ resep.lamaResep }} menit
            </p>
          </header>
          <div>
            <p>Bahan - Bahan:</p>
            <ul>
              <li v-for="bahan in resep.bahanResep">{{ bahan.nama }} {{ bahan.banyak }}</li>
            </ul>
          </div>
          <div>
            <p>Langkah - Langkah:</p>
            <ol>
              <li v-for="langkah in resep.langkahResep">{{ langkah.nama }}</li>
            </ol>
          </div>
        </div>
      </div>
    </div>


  </div>

  <script src="./app.js"></script>

</body>

</html>